@import "tailwindcss";

body {
  background-color: #fee1e6;
}

h1 {
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 23px;
  text-align: center;
}
h4 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 8px;
  margin: auto 0;
  padding-left: 8px;
}

h3 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 8px;
  margin: auto 0;
  padding-left: 8px;
  border: 2px solid black;
}

footer {
  text-align: center;
  font-size: 15px;

  margin: 90px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-weight: 500;
}
