@import "tailwindcss";

body {
  background-repeat: no-repeat;
  background-size: 1400px;
  background-image: url(images/flower3.jpg);
}

footer {
  text-align: center;
  font-size: 15px;

  margin: 90px;
}
